body{
    font-family:Arial, Helvetica, sans-serif;
    background-color: #f0f7fa;
    margin: 0;
    padding: 0;
    height: 100%;
    /* direction: rtl; */
}
.alertMsg {
    font-size: inherit;
    padding: 20px 10px;
    position: fixed;
    bottom: 5%;
    left: 2%;
    border-radius: 10px;
    z-index: 999;
    height: auto;
    display: none;
    color: red;
    background-color: rgba(255, 228, 228, 0.75);
    box-shadow: 0px 0 10px 0px rgba(205, 30, 11, 0.5);
    animation: showFromLeft 0.3s linear;
} 
.successMsg {
    font-size: inherit;
    padding: 20px 0;
    position: fixed;
    bottom: 5%;
    left: 2%;
    border-radius: 10px;
    z-index: 999;
    height: auto;
    display: none;
    color: green;
    background-color: rgba(218, 249, 223, 0.75);
    box-shadow: 0px 0 10px 0px rgba(11, 205, 61, 0.5);
    animation: showFromLeft 0.3s normal;
}
@keyframes showFromLeft {
    0% { opacity: 0; margin-left: -100%; }
    25% { opacity: 0.2; margin-left: -50%; }
    35% { opacity: 0.4; margin-left: -20%; }
    50% { opacity: 0.8; margin-left: -15%; }
    65% { opacity: 0.9; margin-left: -12%; }
    75% { opacity: 0.9; margin-left: -10%; }
    80% { opacity: 0.9; margin-left: -8%; }
    85% { opacity: 0.95; margin-left: -6%; }
    90% { opacity: 0.95; margin-left: -4%; }
    95% { opacity: 0.95; margin-left: -2%; }
    100% { opacity: 1; margin-left: 0; }
}
a{
    text-decoration: none;
}
.flex{
    display: flex;
}
#left-area {
    order: 2;
} 
#right-area {
    order: 1;
}
#right-area img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    display: block;
}
.w10{
    width: 10%;
}
.w20{
    width: 20%;
}
.w40{
    width: 40%;
}
.w60{
    width: 60%;
}
.w70{
    width: 70%;
}
.w80{
    width: 80%;
}
.header{
    width: 100%;
    color: #ffffff;
    background-color: #393939;
}
.wrapper{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    width: calc(100% - 30px);
}
.logo{
    order: 2;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}
.logo img{
    height: 70px;
    padding: 5px 0px;
    object-fit: cover;
}
/* .al{
    text-align: left;
} */
.wrapper .al{
    order: -1;
    display: flex;
    align-items: center;
}
.al h1{
    margin: 0;
    font-size: 22px;
}
.form{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60%;
}
.p20 form{
    width: 55%;
}  
form{
    width: 100%;
}
.inner-form {
    padding: 20px; 
}
.row {
    margin-bottom: 15px;
}  
label {
    display: flex;
    justify-content: end;
    margin-bottom: 5px;
    font-weight: bold;
} 
input[type="email"],
input[type="password"],
input[type="text"] {
    text-align: right;
    width: 100%; 
    padding: 15px; 
    border: 1px solid #ddd;
    border-radius: 7px; 
    box-sizing: border-box; 
    font-size: 16px;
}
input[type="text"]{
    background-color: #f2f6fc;
}
input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus {
    border-width: 1px;
    border-color: #2196F3; 
    box-shadow: 0 0 10px rgba(33, 150, 243, 0.5); 
    outline: none; 
}
.btn {
    text-transform: uppercase;
    width: 100%;
    background-color: #00c276; 
    color: #fff; 
    padding: 16px 15px; 
    border: none; 
    border-radius: 7px; 
    cursor: pointer; 
    font-size: 16px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}  
.btn:hover {
    background-color: #12987d; 
}
.popup-back{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #00000038;
    top: 0;
    left: 0;
    z-index: 1000;
}
.popup {
    width: 100%;
    position: fixed;
    color: #000000;
    background-color: #ffffff;
    z-index: 1001;
} 
.head-popup {
    justify-content: space-between;
    align-items: center;
    background-color: #dfe3e9;
    padding: 20px;
} 
.head-title {
    font-size: 18px;
    font-weight: bold;
} 
.fas {
    color: #333;
    cursor: pointer;
}
.popup-inner {
    margin: 30px 20px;
    background-color: #ffffff;
}
.botBtns{
    margin-top: 30px;
    margin-bottom: 30px;
}
.btnS {
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin: 0 5px;
    background-color: #00c276; 
    transition: background-color 0.3s ease;
}
.btnS:hover {
    background-color: #12987d; 
}
.left-wc{
    text-align: end;
}
.fas{
    transition: color 0.3s ease;
}
.fas:hover{
    color: #00c276; 
}
/* .fa-window-close{
    transition: color 0.3s ease;
}
.fa-window-close:hover{
    color: #00c276; 
} */
#spinner{
    background: #919fa640 url(../images/loader.gif) no-repeat;
    background-position: center;
    background-size: 50px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999;
}
.max-width-pannel{
    max-width: 100%;
    justify-content: center;
}
.pannel{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
input[type="date"] {
    border: 1px solid #dee2e6;
    padding: 10px;
    border-radius: 7px;
    background-color: #f3f7fd;
}
input[type="date"]::-webkit-fa-calendar {
    background: transparent;
}
.table {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}
.table table {
    width: 100%;
    border-spacing: 0;
    border: 1px solid #dee2e6;
}
.table thead {
    background-color: #ffffff;
}
.table thead th {
    text-align: left;
    padding: 10px;
}
.table tbody tr {
    background-color: #ffffff;
}
.table tbody tr:nth-child(odd) {
    background-color: #f3f3f3;
}
.table tbody td {
    padding: 10px;
    border-top: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
}
.table tbody td:last-child {
    border-right: 0;
}
.table tbody td {
    padding: 10px;
    border-top: 1px solid #dee2e6;
}
.table .id {
    text-align: center;
    width: 60px;
}
.table .actions {
    text-align: center;
    width: 80px;
}
.table a {
    color: #000000;
    text-decoration: none;
    transition: color 0.3s ease;
}
.table a:hover {
    color: #00c276;
    text-decoration: none;
}
/* .fa-trash-alt{
    transition: color 0.3s ease;
}
.fa-trash-alt:hover{
    color: #00c276;
} */
.switch{
    position: relative;
    display: inline-block;
    width: 30px;
    height: 15px;
}
.switch input {
    display: none;
}
.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before{
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 0;
    bottom: -1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    box-shadow: 0px 0 10px 0px rgba(70, 70, 70, 0.3);
 }
input:checked + .slider{
    background-color: #00cb84;
}
input:focus + .slider{
    box-shadow: 0 0 1px #00cb84;
}
input:checked + .slider:before{
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}
.slider.round{
    border-radius: 34px;
 }
 .slider.round:before{
    border-radius: 50%;
 }
 .fa-plus{
    color: #ffffff;
 }
#menu{
    height: 100%;
    display: flex;
    justify-content: end;
}
/* .row::after{
    clear:both;
    content:"";
    display:block;
}
.row{
    display: flex;
    justify-content: center;
    align-items: baseline;
} */

ul {
    display: flex;
    align-items: center;
    /* text-align: right; */
    height: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}
li {
    font-size: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px;
    color: #fff;
    cursor: pointer;
}
#menu ul li {
    transition: background-color 0.3s ease;
}
#menu ul li a, #menu ul li i {
    color: #ffffff;
    transition: color 0.3s ease;
}
#menu ul li:hover a, #menu ul li:hover i {
    color: #00c276;
}

#menu ul li:hover {
    background-color: #2c2c2c;
}
.router-link-active,
.router-link-active i {
    color: #00c276 !important;
}
li:has(a.router-link-active) {
    border-bottom: 5px solid #00c276;
    box-sizing: border-box;
}
#user-top{
    position: relative;
    display: flex;
    align-items: center;
}
#user-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #000;
    color: #fff;
    text-align: center;
    line-height: 40px;
    margin-left: 7px;
    cursor:default;
}
.fa-caret-down{
    color: #ffffff;
}
#user-info {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-70px);
    position: absolute;
    top: 77%;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    white-space: nowrap;
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s 0.3s;
}
#user-info.active {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.3s ease, transform 0.3s ease;
}
#user-info a {
    color: #000;
}